[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body{
    /*touch-action: none; /*turn off pull auto refesh*/
    overflow-y: hidden;
}
div.diem-scrollable{
    /*quick fixed for auto scroll to refresh*/
    overflow-y: scroll;
    with:100%;
    height: 100%;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}

.answer-box {
    /*border-radius: 25px;*/
    /*border: 2px solid #73AD21;*/
    /*height: 50px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;*/
    /*z-index: -1;*/
    /*padding: 20px;*/
    /*width: 200px;*/
    /*height: 150px;*/
}

.md-list-item-text:focus {
    background-color: cornflowerblue;
    /*z-index: 10;*/
}
h3 {
    z-index: 10;
}
