<style>
.selectedIndex {
  background: #43A047;
  color: white;
}
    .rightAnswer {
        background: blue;
        color: white;
    }
</style>

<div layout="column" layout-padding layout-align="center center">
    <div flex layout="row">
        <md-card flex="20" md-colors="{background: 'red'}">
            <md-card-title>
                <span> NO.{{$ctrl.questionData.number}} </span>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-content>
                <span> {{$ctrl.questionData.year}} </span>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-content>
              <p>categories:{{$ctrl.questionData.categories}}</p>
              <p>Description:{{$ctrl.questionData.description}}</p>
            </md-card-content>
        </md-card>
    </div>
    <div flex style="min-width:100%">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">the Question 1</span>
                </md-card-title-text>
            </md-card-title>

            <img ng-src="{{$ctrl.questionData.image}}" class="md-card-image">
            <md-card-content>
                {{$ctrl.questionData.question}}
            </md-card-content>

            <!--<md-list-item ng-class="{selectedIndex: $ctrl.selectedIndex===$index,rightAnswer: $ctrl.flagRightAnswer===$index}" ng-repeat="item in $ctrl.questionData.answers" ng-click="$ctrl.answerItem($index)">-->
            <md-list-item ng-class="{selectedIndex: $ctrl.selectedIndex===$index}" ng-repeat="item in $ctrl.questionData.answers" ng-click="$ctrl.answerItem($index)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.content }}</h3>
                </div>
                <md-divider></md-divider>
            </md-list-item>

            <md-card-content class="check-element animate-show-hide" ng-show="$ctrl.flagClickAnswer">
                {{$ctrl.questionData.explanation}}
                <rating-comp rating="$ctrl.questionData.rating"></rating-comp>
            </md-card-content>

            <md-button class="md-raised" md-colors="{background: 'green'}" ng-click="$ctrl.answerStatus()">Answer</md-button>
        </md-card>
    </div>
</div>
