<!--<div>-->
    <!--question Disp Component : {{$ctrl.questionData.status}}-->
<!--</div>-->
<!--<div>-->
    <!--bindingData : {{$ctrl.questionData.bindingData}}-->
<!--</div>-->



<div layout="column" layout-align="center center">
    <div layout="row">
        <md-card>
            <md-card-content>
                {{$ctrl.questionData.number}}
            </md-card-content>
        </md-card>

        <div>
            <p>categories:{{$ctrl.questionData.categories}}</p>
            <p>Description:{{$ctrl.questionData.description}}</p>
        </div>
        <md-card>
            <md-card-content>
                {{$ctrl.questionData.year}}
            </md-card-content>
        </md-card>
    </div>
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">the Question 1</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                {{$ctrl.questionData.question}}
            </md-card-content>

            <md-list-item class="answer-box" ng-repeat="item in $ctrl.questionData.answers" ng-click="$ctrl.answerItem(item.number)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.content }}</h3>
                </div>
            </md-list-item>

            <md-card-content class="check-element animate-show-hide" ng-show="$ctrl.flagClickAnswer">
                {{$ctrl.questionData.explanation}}
            </md-card-content>

            <md-button class="md-raised md-warn" ng-click="$ctrl.answerStatus()">Answer</md-button>


        </md-card>
    </div>
</div>